<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <!-- Host -->
    <!--Either server or client can run in same process. Unless we are using something like ServiceModelEx. We will just invoke new thread only.-->
    <!--<services>
      <service behaviorConfiguration="todoServiceBehavior" name="MvvmWcfCrudList.Service.TodoService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8889/todoservice"/>
            <add baseAddress="http://localhost:8890/todoservice"/>
            <add baseAddress="net.pipe://localhost/MvvmWcfCrudListSvc" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8889/todoservice" binding="netTcpBinding" contract="MvvmWcfCrudList.Service.ITodoService" />
        <endpoint address="http://localhost:8890/todoservice" binding="basicHttpBinding" contract="MvvmWcfCrudList.Service.ITodoService" />
        <endpoint address="net.pipe://localhost/MvvmWcfCrudListSvc" binding="netNamedPipeBinding" contract="MvvmWcfCrudList.Service.ITodoService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="todoServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <!-- Host -->


    <!-- Client -->
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ITodoService" />
      </netNamedPipeBinding>
      <!--<netTcpBinding>
        <binding name="NetTcpBinding_ITodoService" />
      </netTcpBinding>-->
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://localhost:8889/todoservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITodoService" contract="ITodoService"
                name="NetTcpBinding_ITodoService" />-->
      <endpoint address="net.pipe://localhost/MvvmWcfCrudListSvc" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_ITodoService" contract="ITodoService"
          name="NetNamedPipeBinding_ITodoService">
        <identity>
          <userPrincipalName value="win-PC\win" />
        </identity>
      </endpoint>
    </client>
    <!-- Client -->

    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>

</configuration>